@import 'variables';

.login{
    font-family: 'Josefin Sans', sans-serif;
    color: $blue;
    text-shadow: 2px 2px 5px #056162;

    .btn-google{
        background-color: $dark;
        max-height: 80px;
        max-width: 200px;
        box-shadow: 2px 2px 5px #056162;
        transition: ease-in-out 200ms;
    
        &:hover{
            box-shadow: 2px 2px 8px #056162;
            transform: scale(1.02);
        }
    }
}